<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js Crash Course</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <app-username v-bind:username="'Aron Alvarenga 1'"></app-username>
      <app-username v-bind:username="'Aron Alvarenga 2'"></app-username>
      <p v-bind:class="{updated: name == 'Aron' ? false : true}">{{ name }}</p>
      <p v-if="name == 'Aron' ? false : true">Name updated!</p>
      <button v-on:click="changeName">Change Name</button>
      <button v-on:click="addElement">New Element</button>
      <ul>
        <li
          v-for="element in elements"
          v-bind:id="'el' + element"
          v-bind:style="{backgroundColor: getColor(element)}"
        >
          Element {{ element }}
        </li>
      </ul>
    </div>
    <div id="app2">
      <p>Second Vue Instance</p>
      <p>{{ message }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
